# Python virtual environment
myenv/

# PlatformIO build files
.pio/
libdeps/

# Byte-compiled Python files
*.pyc
__pycache__/

# Temporary files
*.zip
*.log

# IDE or editor specific files
.vscode/
.idea/
